// http://bunomonteiro.github.io/grid.css/

/* GRID */
$width: 96%;
$gutter: 4%;
// $breakpoint-small: 768px;
// $breakpoint-med: 1024px;
// $breakpoint-large: 1400px;

$size-xs: 320px !default;
$size-xs-min: $size-xs !default;
$size-sm: 480px !default;
$size-sm-min: $size-sm !default;
$size-md: 800px !default;
$size-md-min: $size-md !default;
$size-lg: 1140px !default;
$size-lg-min: $size-lg !default;
$size-xl: 1400px !default;
$size-xl-min: $size-xl !default;
$size-xs-max: ($size-sm-min - 1) !default;
$size-sm-max: ($size-md-min - 1) !default;
$size-md-max: ($size-lg-min - 1) !default;
$size-lg-max: ($size-xl-min - 1) !default;
$total-cols: 12;
$col-margin: 3%;
$sizes: xs, sm, md, lg, xl;

@mixin create-cols($size) {
  @for $i from 1 through $total-cols {
    $col-fluid-width: (100% / $total-cols * $i);
    $col-width: $col-fluid-width - $col-margin;
    // fluid
    .container.fluid .col.#{$size}-#{$i},
    .row.fluid .col.#{$size}-#{$i} {
      width: $col-fluid-width;
    }
    .container.fluid .col.#{$size}-offset-#{$i},
    .row.fluid .col.#{$size}-offset-#{$i} {
      margin-left: $col-fluid-width;
    }
    // non fluid
    .container.non-fluid .row .col.#{$size}-#{$i},
    .row.non-fluid .col.#{$size}-#{$i},
    .col.#{$size}-#{$i} {
      width: $col-width;
    }
    .container.non-fluid .row .col.#{$size}-offset-#{$i},
    .row.non-fluid .col.#{$size}-offset-#{$i},
    .col.#{$size}-offset-#{$i} {
      margin-left: $col-width + ($col-margin * 1.5);
    }
    @if ($i == 1) {
      // fluid
      .container.fluid .col.#{$size}-offset-0,
      .row.fluid .col.#{$size}-offset-0 {
        margin-left: 0;
      }
      // non fluid
      .container.non-fluid .row .col.#{$size}-offset-0,
      .row.non-fluid .col.#{$size}-offset-0,
      .col.#{$size}-offset-0 {
        margin-left: $col-margin / 2;
      }
    }
  }
}

@mixin center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto;
}

@mixin text-truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin clearfix() {
  overflow: hidden;
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin utilities($size) {
  $prefix: null;
  @if($size != null){
    $prefix: #{$size}-;
  }
  .#{$prefix}margin-top {
    margin-top: $col-margin / 2 !important;
  }
  .#{$prefix}margin-right {
    margin-right: $col-margin / 2 !important;
  }
  .#{$prefix}margin-bottom {
    margin-bottom: $col-margin / 2 !important;
  }
  .#{$prefix}margin-left {
    margin-left: $col-margin / 2 !important;
  }
  .#{$prefix}pull-left {
    float: left !important;
  }
  .#{$prefix}center {
    @include center();
  }
  .#{$prefix}pull-right {
    float: right !important;
  }
  .#{$prefix}text-left {
    text-align: left !important;
  }
  .#{$prefix}text-center {
    text-align: center !important;
  }
  .#{$prefix}text-right {
    text-align: right !important;
  }
  .#{$prefix}text-truncate {
    @include text-truncate();
  }
  .#{$prefix}clearfix {
    @include clearfix();
  }

  @if($size != null){
    .#{$prefix}hidden {
      display: none !important;
    }
    .#{$prefix}visible {
      display: block !important;
    }
  }@else{
    .hide {
      display: none !important;
    }
    .show {
      display: block !important;
    }
  }
}

.container * {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
}

.container.fluid .col,
.row.fluid .col {
  margin: 0;
}

.container.fluid .row,
.row.fluid {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.container.non-fluid .row,
.row.non-fluid,
.row {
  padding-left: $col-margin / 2;
  padding-right: $col-margin / 2;
  width: 100%;
}

.clearfix:after,
.container.fluid:after,
.row.fluid:after {
  clear: both;
  content: " ";
}

.row,
.col {
  box-sizing: border-box;
  display: block;
  position: relative;
}

.row:before,
.row:after {
  clear: both;
  content: " ";
  display: table;
}

.container.non-fluid .row .col,
.row.non-fluid .col,
.col {
  float: left;
  margin-left: $col-margin / 2;
  margin-right: $col-margin / 2;
  min-height: 1px;
  width: 100%;
}

.container.flex > .row,
.container .row.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.container.non-flex > .row,
.container .row.non-flex {
  display: block;
}

@each $size in $sizes {
  @if $size == xs {
    @include create-cols($size);
  } @else if ($size == sm) {
    @media (min-width: $size-sm-min) {
      @include create-cols($size);
    }
  } @else if ($size == md) {
    @media (min-width: $size-md-min) {
      @include create-cols($size);
    }
  } @else if ($size == lg) {
    @media (min-width: $size-lg-min) {
      @include create-cols($size);
    }
  } @else {
    @media (min-width: $size-xl-min) {
      @include create-cols($size);
    }
  }
}

/* utilities */

@include utilities(null);

@each $size in $sizes {
  @if $size == xs {
    @media (max-width: $size-xs-max) {
      @include utilities($size);
    }
  } @else if ($size == sm) {
    @media (min-width: $size-sm-min) and (max-width: $size-sm-max) {
      @include utilities($size);
    }
  } @else if ($size == md) {
    @media (min-width: $size-md-min) and (max-width: $size-md-max) {
      @include utilities($size);
    }
  } @else if ($size == lg) {
    @media (min-width: $size-lg-min) and (max-width: $size-lg-max) {
      @include utilities($size);
    }
  } @else {
    @media (min-width: $size-xl-min) {
      @include utilities($size);
    }
  }
}
